@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Besley:ital,wght@0,400..900;1,400..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,html{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  position: relative;
}
nav > a::after {
  content: "";
  height: 2px;
  transform: scale(0);
  background-color: grey;
  outline: none;
  transition: all 300ms ease-in-out;
  display: block;
  left: 0;
  bottom: 0;
}
a:hover::after {
  transform: scaleX(1);
}
.Skills{
  min-height: 100vh;
  align-content: center;

}

.Shadow:hover{
    --tw-shadow-color: #18181b;
    --tw-shadow: var(--tw-shadow-colored);
    transform: translateY(-2.1rem);
}
.right-image{
  align-content: center;
  box-sizing: border-box;

}
img{
  transition: all ease-in-out .3s;
}
.left-intro{
  align-content: center;
}
button{
  transition: all ease-in-out .3s;
}
button:hover{
  transform: translateY(-1vh);

}
img:hover{
transform: scale(1.1);

}
#projects{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  justify-content: space-evenly;
  align-content: center; 

}

li,a{
  cursor: pointer;
}

.contact{
  transition: all ease-in-out .3s;
}
.contact:hover{
  transform: translateY(-1vh);

}
#content{
  align-items: center;
}